* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}
:root {
    --bleed-content: 0.5em 0.75rem;
    --bleed-container: 1.5rem;
    --border-radius: 0.5rem;
    --height: 1.5rem;
    --gap: 1.5rem;
    --box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1),
    0.3em 0.3em 1em rgba(0,0,0,0.3);
}
h2, h3, p{
    padding: var(--bleed-content);
}

@media (prefers-color-scheme: light) {
    h2, h3 {
        background-color: crimson;
        color: whitesmoke;
    }
    body{
        background-color: crimson;
    }
 .container {
     --bg-color: transparent;
 }
 .header, .main, .footer{
     --bg-color: lightgray;
 }
 .headerbar, .social{
     --bg-color: transparent;
 }
 .navbar a{
     --bg-color: transparent;
 }
 .navbar a:hover{
     --bg-color: crimson;
     --color: whitesmoke;
 }
 .slogan{
     --bg-color: rgba(0,0,0,0.1);
 }
    
}

/* Modo Tablet PC */
@media screen {
    .container{
        background-color: var(--bg-color);
        margin: 0 auto;
        max-width: 85rem;
        min-height: 100vh;
        display: grid;
        grid-template-rows: auto auto auto;
        gap: var(--gap);
        
    }

    .header{
        background-color: var(--bg-color, black);
        background-image: url(../images/cabecera.jpg);
        background-size: cover; 
        background-position: center center;
        display: grid;
        gap: var(--gap);
        padding: var(--bleed-container);
    }
    .headerbar{
        background-color: var(--bg-color, darkblue);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: var(--bleed-container);
    }
    .logo{
        background-color: var(--bg-color, red);
        height: 3rem;
    }
    .navbar{
        background-color: var(--bg-color, blue);
        display: flex;
        gap: 1.5rem;
        justify-content: space-evenly;
    }
    .navbar a{
        background-color: var(--bg-color, crimson);
        filter: grayscale(1);
        text-decoration: none;
        display: flex;
        gap: 0.5rem;
        min-height: var(--height);
        align-items: center;
        padding: var(--bleed-content);
    }
    .navbar a:hover{
        background-color: var(--bg-color);
        color: var(--color);
        filter: grayscale(0);
        text-decoration: none;
    }
    .navbar img, .social img{
        height: 1.2rem;
    }
    .social {
        background-color: var(--bg-color, red);
        display: grid;
        gap: var(--gap);
        padding: var(--bleed-content);
    }
    .social a{
        filter: grayscale(1);
    }
    .social a:hover{
        filter: grayscale(0);
    }
    .slogan{
        background-color: var(--bg-color, red);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: var(--bleed-container);
        font-size: 1.5rem;
        font-family: serif;
        color: rgba(178, 34, 34, 0.589);
    }    
    
    .main{
        background-color: var(--bg-color, crimson);
        display: flex;
        gap: var(--gap);
        padding: var(--bleed-container);
    }
    .aside{
        flex-grow: 1;
        
        background-color: whitesmoke;
        min-width: max-content;
    }

    .article-wrapper{
        flex-grow: 2;
        
        display: flex;
        flex-wrap: wrap;
        gap: var(--gap);
        

    }
    
    .article{
        flex: 1;
        flex-basis: 40%;
        background-color: whitesmoke;
        overflow: hidden;
    }

    .article:last-child{
        flex-basis: 100%;
    }
    .article figure {
        height: 10rem;
        max-height: 15rem;
        overflow: hidden;        
    }
    .article figure img {
        height: auto;
        width: 100%;
    }
    .footer{
        background-color: var(--bg-color);
    }

}

/* Vista tablet */
@media(max-width:80rem) {
 .main{
     display: grid;
 }
}

/* Vista móvil */

@media (max-width: 40rem) {
    .container{
        max-width: 24rem;
    }

    .headerbar{
        display: grid;
        gap: 2rem;
        justify-content: space-evenly;
        justify-items: center;
    }
    .navbar a{
        background-color: rgba(240, 255, 240, 0.63);
        filter: grayscale(0.5);
    }

    .navbar{
        display: grid;
    }
    .social{
        display: flex;
    }

    .slogan{
        text-align: center;
    }
    .article-wrapper{
        display: grid;
    }
    .article, .aside, .main, .header, .footer, .slogan{
        box-shadow: var(--box-shadow);
        border-radius: var(--border-radius);
    }
}
